<% 
// 每渲染一次就會重新賦予這個區域值
/**
 * @param {String} path 從 root/views/開始的絕對路徑
 * @param {Object} data 從 req 取得的資料映射
 */
partial = (path, data) => { 
  return include(`${__views}/${path}`, data); 
};

// 全域物件，模板間傳遞資料的接口
global = {}

// 懶載入 HTML 內嵌 JS
scripts = [];
js = (path, data) => { scripts.push({path:path, data:data}); }

// 鎖定 partial ejs 引入區域避免多次引入
lock = {};
%>
<%# 必要引入 main %>
<!DOCTYPE html>
<html lang="zh-TW">
<%- partial('_partial/head'); %>

<body>
  <%- partial('_partial/header'); %>
  <%- partial('_partial/navbar'); %>
  <main id="main" class="container">
    <% if (typeof data == 'object' && data) { %>
    <%-partial(main, { data: data }); %>
    <% } else { %>
    <%-partial(main); %>
    <% } %>
  </main>
  <%- partial('_partial/footer'); %>
  <%# scripts %>
  <%- partial('_partial/foot'); %>
  <%- partial('_script/layout'); %>
  <% for (const script of scripts) { %>
  <%- partial('_script/' + script.path, script.data); %>
  <% } %>
</body>


</html>