<%# 必要引入 main %>
<!DOCTYPE html>
<html lang="zh-TW">
<%- include('_partial/head'); %>

<body>
  <%- include('_partial/header'); %>
  <%- include('_partial/navbar'); %>
  <main id="main" class="container">
    <% if (typeof data == 'object' && data) { %>
    <%- include(main, { data: data }); %>
    <% } else { %>
    <%- include(main); %>
    <% } %>
  </main>
  <%- include('_partial/footer'); %>
  <% if (typeof scripts == 'object' && scripts) { %>
  <%- include('_partial/foot', { scripts: scripts }); %>
  <% } else {%>
  <%- include('_partial/foot'); %>
  <% } %>
</body>

</html>