<h1>線上訂票</h1>
<form action="book" method="POST">
  起站 <%- partial('_widget/station-selector', {id: 'from', selected: search.from }); %>
  迄站 <%- partial('_widget/station-selector', {id: 'to', selected: search.to}); %><br><br>
  乘車日期 <%- partial('_widget/date-selector', {id: 'date'}); %>
  預計乘車時間<%- partial('_widget/time-selector', {id: 'time'}); %>
  <input type="submit" class="btn btn-primary" onclick="book()"></input>
</form>
<% if (typeof results == 'object' && results) { %>
<div id="results">
  <% if(results.length === 0) { %>
  <h1>沒有符合條件的車輛</h1>
  <% } else { %>
  <% for(const item of results) { %>
  <hr>
  <h1><%- item._id %></h1><%- item.type %>
  <h3><%- item.from %> 到 <%- item.to %> 經 <%- item.through %></h3>
  <h5><%- item.startHour %>:<%- item.startMinute %> - <%- item.endHour %>:<%- item.endMinute %>,
    約每<%- item.interval %>分鐘一班</h5>
  <h3>票價：<%- item.cost %></h3>
</div>
<% } %>
<% } %>
</div>
<% } %>