<h1>班次查詢</h1>
<form action="search" method="GET">
  起站 <%- partial('_widget/station-selector', {id: 'from', selected: search.from }); %>
  迄站 <%- partial('_widget/station-selector', {id: 'to', selected: search.to}); %>
  經 <%- partial('_widget/station-selector', {id: 'through', selected: search.through}); %>
  <input type="submit" class="btn btn-primary" value="搜尋"></input>
</form>

<div id="results">
  <% if(results.length === 0) { %>
  <h1>沒有符合條件的車輛</h1>
  <% } else { %>
  <% for(const item of results) { %>
  <hr>
  <div>
    <h1><%- item._id %></h1><%- item.type %>
    <h3><%- item.from %> 到 <%- item.to %><%- item.through === '' ? '' : ' 經 ' %><%- item.through %></h3>
    <h5><%- padZero(item.startTime / 60) %>:<%- padZero(item.startTime % 60) %> -
      <%- padZero(item.endTime / 60 ) %>:<%- padZero(item.endTime % 60) %>,
      約每<%- item.interval %>分鐘一班</h5>
    <h3>票價：<%- item.cost %></h3>
    <% if(userdata && userdata.level === 100) { %>
    <div onclick="remove('<%- item._id %>')" style="cursor: pointer;color: red;">
      <i class="fas fa-trash-alt fa-2x"></i>
    </div>
    <% } %>
  </div>
  <% } %>
  <% } %>
  <% if(userdata && userdata.level === 100) { %>
  <% js('sysop'); %>
  <hr>
  <h2>新增資料</h2>
  車號 <input id="_id" type="number" placeholder="1000 ~ 9999"></br></br>
  車型 <select id="type">
    <option value="顆顆一號">顆顆一號</option>
    <option value="顆顆二號">顆顆二號</option>
  </select></br></br>
  票價 <input id="cost" type="number" placeholder="100"></br></br>
  起站 <%- partial('_widget/station-selector', {id: 'add-from'}); %>
  迄站 <%- partial('_widget/station-selector', {id: 'add-to'}); %>
  經 <%- partial('_widget/station-selector', {id: 'add-through'}); %></br></br>
  首班時間 <%- partial('_widget/time-selector', {id: 'start'}); %>
  末班時間 <%- partial('_widget/time-selector', {id: 'end'}); %></br></br>
  約
  <select id="interval">
    <% for (let i = 10; i <= 120; i+=10) {  %>
    <option value="<%- i %>"><%- i %></option>
    <% } %>
  </select>分鐘一班</br></br>
  <button class="btn btn-primary" onclick="add()">新增</button>
  <% } %>
</div>