<%
js('setting');
const level = {
  0 : "此用戶已刪除",
  1 : "普通會員",
  2 : "進階會員",
  3 : "高級會員",
  4 : "尊榮會員",
  90 : "系統協力者",
  100 : "系統管理員"
}
%>

<div class="row">
  <div class="col-12">
    <h1>會員設定</h1>
    <hr>
    <h2>基本資料</h2>
    <div class="field">
      　　帳號 <input id="username" type="text" placeholder="帳號" value="<%- userdata.username %>" disabled>
    </div>
    <div class="field">
      　　編號 <input id="uid" type="text" placeholder="UID" value="<%- userdata.uid %>" disabled>
    </div>
    <div class="field">
      　　等級 <input id="level" type="text" placeholder="UID" value="<%- level[userdata.level]%>" disabled>
      <a href="/about/terms#usergroup" target="_blank">我該如何升級會員?</a>
    </div>
    <div class="field">
      　　暱稱 <input id="nickname" type="text" placeholder="暱稱" value="<%- userdata.nickname %>">
    </div>
    <div class="field">
      手機號碼 <input id="cellphone" type="text" placeholder="手機" value="<%- userdata.cellphone %>">
    </div>
    <div class="field">
      電子信箱 <input id="email" type="text" placeholder="電子信箱" value="<%- userdata.email %>">
    </div>
    <button class=" btn btn-primary" onclick="setInfo()">修改</button>
    <hr>
    <h2>修改密碼</h2>
    <div id="sign-up">
      <div class="field">
        舊的密碼 <input id="oldPassword" type="password" placeholder="舊的密碼">
      </div>
      <div class="field">
        新的密碼 <input id="password" type="password" placeholder="新的密碼">
      </div>
      <div class="field">
        確認密碼 <input id="checkPassword" type="password" placeholder="確認密碼">
      </div>
      <button class=" btn btn-primary" onclick="setPassword()">修改</button>
    </div>
  </div>
</div>