<%#- include(`${__views}/_widget/time-selector`, {id: ''}); %>
<select id="<%- id %>Hour" name="<%- id %>Hour">
  <% for (let i = 0; i < 24; i++) {  %>
  <% let text = i.toString().padStart(2, 0);  %>
  <option value="<%- text %>"><%- text %></option>
  <% } %>
</select>時
<select id="<%- id %>Minute" name="<%- id %>Minute">
  <% for (let i = 0; i < 60; i+=10) { %>
  <% let text = i.toString().padStart(2, 0);  %>
  <option value="<%- text %>"><%- text %></option>
  <% } %>
</select>分