<% const bannerItems = [
  {src : '/img/banner-01.jpg', text: '我可以打文字我可以打文字我可以打文字' },
  {src : '/img/banner-02.jpg', text: '我可以打文字我可以打文字我可以打文字' },
  {src : '/img/banner-01.jpg', text: '' },
]; %>

<header id="banner" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <% for (let i = 0; i < bannerItems.length; i++) { %>
    <li data-target="#banner" class="<%- i === 0 ? 'active' : '' %>" data-slide-to="<%- i %>">
    </li>
    <% } %>
  </ol>
  <div class="carousel-inner">
    <% for (const [i, v] of bannerItems.entries()) { %>
    <div class="carousel-item <%- i === 0 ? 'active' : '' %>">
      <img class="d-block w-100" src="<%- v.src %>" alt="<%- 'banner-' + i %>">
      <div class="carousel-caption d-none d-md-block">
        <h3 style="color:black;">
          <%- v.text %>
        </h3>
      </div>
    </div>
    <% } %>
  </div>
  <a class="carousel-control-prev" href="#banner" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#banner" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</header>