<% 
/**
 * @param {String} img  圖片路徑
 * @param {String} link 連結路徑
 */
const icon = {
  img: "/img/logogo.png",
  link: "../"
}
/**
 * @param {String} text 標題
 * @param {String} link 主項連結
 * @param {Array}  drop 下拉選單 (可選，若無則會將 dropdownList 轉成 button)
 * @param {String} drop.text 子項名稱 (如果為 "---" 則會改為產生分隔線)
 * @param {String} drop.link 子項連結
 */
// 如果 drop === undefine (沒有)，
const navItems = [
  {
    text : "關於顆顆", link : "#",
    drop: [
      {text : "車輛介紹", link : "/about/bus"},
      {text : "顆顆願景", link : "/about/philosophy"},
      {text : "服務條款", link : "/about/terms"},
    ] 
  },
  {
    text : "訂票系統", link : "/ticket/search"
  },
  {
    text : "聯絡我們", link : "#",
    drop: [
      {text : "營業據點", link : "/contact/station"},
      {text : "意見回饋", link : "/contact/feedback"},
      {text : "人才招募", link : "/contact/jobs"},
    ] 
  },
]; 

const user = {};
if(userdata) {
  user.text = userdata.nickname;
  user.link = "#";
  user.drop = [
    {text : "會員專區", link : "/user/home"},
    {text : "里程優惠", link : "/user/mileage"},
    {text : "常用路線", link : "/user/common"},
    {text : "修改資料", link : "/user/setting"},
    {text : "---"},
    {text : "登出", link : "/user/logout"},
  ]
} else {
  user.text = "登入";
  user.link = "/user/login";
}
%>

<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- icon -->
  <a class="navbar-brand" href="<%- icon.link %>">
    <img class="nav-logo" src="<%- icon.img %>" alt="avatar" onmousedown="return false;">
  </a>
  <!-- hamburger button (要在最上面才不會被擠下去)-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- nav items -->
    <ul class="navbar-nav mr-auto">
      <% for (const item of navItems) {  %>
      <% if(item.drop) { %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="<%- item.link %>" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%- item.text %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% for (const drop of item.drop) { %>
          <% if(drop.text === "---") { %>
          <div class="dropdown-divider"></div>
          <% } else { %>
          <a class="dropdown-item" href="<%- drop.link %>">
            <%- drop.text %>
          </a>
          <% } %>
          <% } %>
        </div>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href="<%- item.link %>">
          <%- item.text %>
        </a>
      </li>
      <% } %>
      <% } %>
    </ul>
    <!-- User -->
    <ul class="navbar-nav navbar-right">
      <% if(user.drop) { %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="<%- user.link %>" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%- user.text %>
        </a>
        <div class="dropdown-menu user-dropdown" aria-labelledby="navbarDropdown">
          <% for (const drop of user.drop) { %>
          <% if(drop.text === "---") { %>
          <div class="dropdown-divider"></div>
          <% } else { %>
          <a class="dropdown-item" href="<%- drop.link %>">
            <%- drop.text %>
          </a>
          <% } %>
          <% } %>
        </div>
      </li>
      <% } else {%>
      <li class="nav-item">
        <a class="nav-link" href="<%- user.link %>">
          <%- user.text %>
        </a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>