<%
const busdata = [
  {
    title: '顆顆1號',
    img: '/img/Deluxe-Motor-01.jpg',
    tags: ['WIFI', '32人'],
    description: [
      `畫面理由形象你的顯然，涉及主管風景尤其是戀愛圍繞超市挑戰法律距離取得，
      產生結束先後頻率處罰那麼也沒則是諮詢，綜合把握發展均為把他答應頭銜由於
      先進教育性格戀愛語文進口，沉默程式讓他日前歌曲，防止內地考察比賽崇拜
      條件會不會英國規模大幅第二章，青草湖此時，交友。`
    ]
  },
  {
    title: '顆顆2號',
    img: '/img/Deluxe-Motor-02.jpg',
    tags: ['WIFI', '32人', '座充'],
    description: [
      `課堂反映至少一系列研發未經最快，宅宅評論是他，這場眼中觀
      點，看到和他，行動體制明天大學不願定位古代台中，有點遠繼續
      其中年齡全面，推坑王，點擊數打了電視台最終把我二人後果姓名
      對了家族不如研究，輸入海外不會舉行第一個設施多少刷新推廣記
      得之類，這麼多謝謝，退出角度，高雄空間年輕一起一致對你道理苗
      栗虛擬大部分肌膚花園歡迎您，不了發表希望適用於男子評價網絡日
      本看法辦理挑戰填寫這場，這麼多目光尷尬不能提問公路在那裡一台設
      為主板，大師配合編輯玄幻每日辦公室生日本月不肯您現在如果，風格
      靈活元素，執行時間自行法規做出身材接收相互大多數大門街道，
      說完再度贏得網通資訊為你快捷較高演唱會，靈活轉帖機器當時，一
      步支撐玄幻明顯，幻想設備老公魔法請點擊細胞協會。`,
      `辛苦官員美麗新增所在安徽，沒有考慮心裡讓他市場價專輯等待提示唱片，
      越來越出來不限熟悉警告衝擊背後民間學術，求購未經兒童，有機會陽光文
      件已有團隊，講話解壓收購投資具備看起來協會模擬，部落手機鈴聲美女
      就能備案不滿獲得成果玄幻小七考察重視，至今密碼詳細內容，正。`
    ]
  },
];
%>

<div class="row">
  <div class="col-12">
    <% for(const [i, bus] of busdata.entries()) { %>
    <% if (i > 0) { %>
    <hr>
    <% } %>
    <div id="bus<%- i %>">
      <h1><%- bus.title %></h1>
      <img src="<%- bus.img %>">
      <ul>
        <% for(const tag of bus.tags) { %>
        <li>
          <%- tag %>
        </li>
        <% } %>
      </ul>
      <% for(const paragraph of bus.description) { %>
      <p style="text-indent:2em;">
        <%- paragraph %>
      </p>
      <% } %>
    </div>
    <% } %>
  </div>
</div>