<%
/**
 * @param {String} title       標題
 * @param {String} img         圖片路徑
 * @param {Array}  tags        標籤          
 * @param {Array}  description 內文，每項以 <p> 為容器
 */
const busData = [
  {
    title: '顆顆1號　長途型車輛',
    img: '/img/Deluxe-Motor-01.jpg',
    tags: ['USB充電座', '影音設備', '免費WIFI', '舒適三排座椅','安全設備齊全'],
    description: [
      `安全！舒適！快速！為您的旅途提供最好的服務！`,
      `顆顆客運以安全系數最高級的歐洲SCANIA車種建立車隊，為業界第一。`,
      `更不吝於以高成本塑造良好的環境衛生與駕駛道德觀念 ，2020全新車隊，獨立三排沙發座椅，車輛為歐洲瑞典Scania K400 五期環保車，在讓您平安回家的同時，也為地球環保盡了一份心力！`,
      `椅距加寬、三排椅加大，給您獨立的乘車空間。講求人體工學，可依個人需求調
      整椅背和腳拖的角度，提供兩段式角度調整：兩個大銀色按鈕，左邊是椅背、
      右邊是腿托，手工訂製防滑座椅，打造舒適的乘車體驗。`,
    ]
  },
  {
    title: '顆顆二號　短途型車輛',
    img: '/img/Deluxe-Motor-02.jpg',
    tags: ['USB充電座', '影音設備', '免費WIFI', '舒適三排座椅','安全設備齊全'],
    description: [
      `安全！舒適！快速！為您的旅途提供最好的服務！`,
      `顆顆客運以安全系數最高級的歐洲SCANIA車種建立車隊，為業界第一。`,
      `更不吝於以高成本塑造良好的環境衛生與駕駛道德觀念 ，2020全新車隊，獨立三排沙發座椅，車輛為歐洲瑞典Scania K400 五期環保車，在讓您平安回家的同時，也為地球環保盡了一份心力！`,
      `椅距加寬、三排椅加大，給您獨立的乘車空間。講求人體工學，可依個人需求調整椅背和腳拖的角度，提供兩段式角度調整：兩個大銀色按鈕，左邊是椅背、右邊是腿托，手工訂製防滑座椅，打造舒適的乘車體驗。`,
    ]
  },
];
%>

<div class="row">
  <div class="col-12">
    <% for(const [i, bus] of busData.entries()) { %>
    <%- i == 0 ? '' : '<hr>' %>
    <div id="<%- bus.id %>">
      <h1><%- bus.title %></h1>
      <img src="<%- bus.img %>">
      <h2>車輛簡介</h2>
      <% for(const paragraph of bus.description) { %>
      <p>
        <%- paragraph %>
      </p>
      <% } %>
      <br>
      <h2>車內配備</h2>
      <ul>
        <% for(const tag of bus.tags) { %>
        <li>
          <%- tag %>
        </li>
        <% } %>
      </ul>
    </div>
    <% } %>
  </div>
</div>