<%
const title = '顆顆願景'

/**
 * @param {String} id          錨點
 * @param {String} title       標題
 * @param {Array}  description 內文，每項以 <p> 為容器
 */
const terms = [
  {
    title: '顆顆願景',
    description: [
      `安全、便捷、舒適　Safe、Convenience、Comfort`,
      `讓每位乘客可以快快樂樂出門，平平安安回家。`,
      `我們以安全、舒適、快速、便利為目標，並提供每位乘客賓至如歸的感覺，顆顆客運永遠是您返鄉路途中最好的夥伴!`,
      `由於廣大民眾對大眾交通運輸需求之運量與品質日益提昇，為順應工商自由競爭趨勢，政府於民國八十四年開放申請國道客運路線經營權。
       秉持服務更廣大的社會大眾與提昇交通運輸業形象與品質，顆顆客運於民國一百零八年，榮獲台北－高雄、台北－台中之國道客運經營權，顆顆客運熟稔客運管理實務與產業特性，「永遠以乘客的需求為走向」的經營理念，「提供超越乘客期待的服務為目標」的經營方式，永續的企業精神，深受廣大消費者肯定，成為最高品味公路客運代言人。`,
    ]
  },
  {
    title: '公司展望',
    description: [
    `(一) 最高品味公路客運代言人`,
    `(二) 專業經營團隊、穩健成長、創新旅遊運輸服務，業界服務典範`,
    `(三) 推行全面品質管理，策略性管理、研發與創新給顧客最優質的服務`,
    ]
  },
  {
    title: `服務項目`,
    description: [
      [
       '客製化包車服務',
       '旅遊景點接送專車',
       '企業租車服務',
       '飯店/機場接送',
       '自助旅遊行程',
       '學校團體旅行',
       '定點接送'
      ]
    ]
  },
  {
    title:  `保險項目`,
    description: [
      [
       '重大車體損失險',
       '強制險',
       '任意第三人意外責任險',
       '強制乘客險',
       '旅客運送業責任險',
       '傘護式責任險',
      ]
    ]
  },
  {
    title: `租車服務`,
    description: [
     `請於工作時段(8:00~16:00)撥打服務專線02-2398-1436詢問詳情`
    ]
  },
]
%>


<div class="row">
  <div class="col-12">
    <h1><%- title %></h1>
    <% for(const term of terms) { %>
    <hr>
    <div id="<%- term.id %>">
      <h2><%- term.title %></h2>
      <% for(const paragraph of term.description) { %>
      <p>
        <% if(Array.isArray(paragraph)) { %>
        <ul>
          <% for(const item of paragraph) { %>
          <li><%- item %></li>
          <% } %>
        </ul>
        <% } else { %>
        <%- paragraph %>
      </p>
      <% } %>
      <% } %>
    </div>
    <% } %>
  </div>
</div>