<%
const title = '服務條款'

/**
 * @param {String} id          錨點
 * @param {String} title       標題
 * @param {Array}  description 內文，每項以 <p> 為容器
 */
const terms = [
    {
    title: '購買車票',
    description: [
      `一：旅客必需持票證搭車，並依公告票價及收費方式付費，於上車時交驗車票。`,
      `二：提供旅客之車票均記載客運業者名稱、乘車起迄站、路線名稱、座號
      、票種、票價、票號、班次、班車等級及使用期間。`,
      `三：旅客購票時，請先自行檢查車票上所載乘車日期、起訖站名、班車時間、
      班車等級及所付票款與票價是否正確。如上車前發現有錯誤，應向售票員更換或退補。`,
      `四：車票如重複劃位，旅客需要求重新劃位或由服務人員安排座位；如旅客不予接受，
      得要求退票並全額退費。旅客因無法乘坐該班車，而改搭其他班次者，得要求給予更換後所搭乘班次的票價優惠。`,
      `五：持用優待票者，應主動出示優待身份證明文件以供查驗。未依規定使用優待票者，應補足該搭乘路線全票票價差額。`,
      `六：優待票使用對象：`,
      `(一) 旅客可購買半票資格：`,
      `1. 年滿65歲以上，且持有身份證明之年長者(含外籍人士)。`,
      `2. 持有身心障礙手冊者，及其陪同者得購買半票(以一位為限)。`,
      `3. 兒童規定說明:`,
      `(1). 年齡滿6歲以上，未滿12歲之兒童。`,
      `(2). 身高滿115公分且未滿6歲者經出示證件可視為免票；若滿6歲則應購買半票。`,
      `(3). 身高滿150公分且未滿12歲者經出示證件可購買半票；若滿12歲則應購買全票。`,
      `(4). 免費孩童由已購票者之旅客攜帶，最多以二人為限，但不得佔用其他座位，逾限仍應購買半票`,
      `(二) 軍人優待票：持軍人身分補給證之現役軍人。`,
      `七：本公司依旅客不同需求所發售之各種類車票，其使用規定已標示在車票上，旅客應按照其規定使用。`

    ]
  },
  {
  title: '車票退換票之有效期限及手續費',
  description: [
      `一： 凡於車票乘車日期或班次時間前均可辦理換票，不收手續費。`,
      `二： 若購買當日不對時車票退票，可在當日末次車之發車前向車站申請退還票價，並不扣手續費；但若逾日辦理退票者酌收手續費。`,
      `三： 對時車票之退票應在該班次發車前辦理，退票得酌收手續費；對時車票發車後不及乘車者，得辦理更換當日未訂位票，不得退票。`,
      `四、 退票手續費：`,
      `本公司依據交通部公告修訂汽車客運業無記名票證定型化契約應記載及不應記載 事項第壹項第六點和
      第七點及第貳項第三點修正，調整退票手續費標準如下:`,
      `(一)、票價0元至200元(含)以下，收取手續費15元。`,
      `(二)、票價201元至400(含)以下，收取手續費20元。`,
      `(三)、票價401元(含)以上，收取手續費25元。`
  ]
  },
  {
    title: `會員規範`,
    description: [
      `您於顆顆客運網註冊成為會員後，會員資格範圍僅限於顆顆客運網，當您使用所提供之各項網路服務時，即表示同意並遵守該等網站之會員規範及當地之法律規定。`,
      [
      `顆顆客運網係透過網際網路提供您各項網路資訊服務。您必須自行配備上網所需的各項電腦設備，以及負擔接上網際網路的費用及電話費用。`,
      `基於本網站所提供的各項服務，您同意於會員註冊時提供詳實的個人資料，並隨時更新過時或已變更之個人資料。`,
      `如果您提供的個人資料不實，顆顆客運網得隨時終止您會員資格及使用各項服務之資格。`,
      ],
      `顆顆客運網有權隨時停止或更改各項服務內容，並無需事先通知您，對於停止或更改服務所可能導致之困擾、不便、損害，顆顆客運網不負任何責任。`
    ]
  },
]
%>

<div class="row">
  <div class="col-12">
    <h1><%- title %></h1>
    <% for(const term of terms) { %>
    <hr>
    <div id="<%- term.id %>">
      <h2><%- term.title %></h2>
      <% for(const paragraph of term.description) { %>
      <p>
        <% if(Array.isArray(paragraph)) { %>
        <ul>
          <% for(const item of paragraph) { %>
          <li><%- item %></li>
          <% } %>
        </ul>
        <% } else { %>
        <%- paragraph %>
      </p>
      <% } %>
      <% } %>
    </div>
    <% } %>
  </div>
</div>